.music-container {
    width: 100%;
    max-width: 720px;
    padding: 0 30px;
    margin: 32px auto;
}

.music-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.updateForm .music-container .attribute {
    display: block;
}

.updateForm .music-container .attribute input {
    height: 40px;
    width: 100%;
    margin-bottom: 31px;
}

.updateForm .music-container .attribute select {
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
}

.updateForm .music-container .attribute label{
    width: 100%;
}

.updateForm .music-container .button {
    width: 100%;
}